span.material-symbols-outlined {
    font-size: 12rem;
    text-align: center;
    size-adjust: 600 px ;
}

html { background-color: #4a148c ;
    width: 100%;
    height: 100%;
}

form {
    padding-top: 10%;
    right: 40%;
}

div.input-field {
width: 60px;

}
.btn {

    background-color: aliceblue;
}

quote {
    margin: 50px;
    display: inline-block; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: oblique;
    color: white;
}
main {
    padding-left: 40%;
}

#favorites-content{
    padding: 2%;
}

input.blue.darken-1.class { 
    border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 130px;
  height: 8px;


}

body button{

    width: 80;
    height: 7;


}

#video{
    margin-top: 25px;
}

#searchAgainBtn{
    margin-left: 20px;
}
#favBtn{
   margin: 10px;
}
#theater{
    margin-right: 10px;
}
#validation{
    background-color: #fff;
    border: lightblue solid 3px;
    border-radius: 5px;
    padding-top: 4vh;
    width: 35vw;
    height: 18vh;
    position: absolute;
    text-align: center;
    top: 255px;
    visibility:hidden;
}

#OMDBValidation{
    padding-top: 7vh;
    background-color: #fff;
    border: lightblue solid 3px;
    border-radius: 5px;
    width: 40vw;
    height: 25vh;
    position: absolute;
    right: 30vw;
    margin: auto;
    text-align: center;
    top: 295px;
    visibility:hidden;
}
@media (max-width:395px) {
    .brand-logo{
        visibility: hidden;
    }
    
    #validation{
       padding-top: 1vh; 
       height: 27vh;
       width: 42vw;
       top: 55vh;
    }

    #searchAgainBtn{
        margin-right: 1vw;
        padding: 0;
    }
}